<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{enteringShip.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{enteringShip.list.headline}]]</h1>
                <div>
                    <a th:href="@{/enteringShips/add}" class="btn btn-primary ms-2">[[#{enteringShip.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${enteringShips.empty}">[[#{enteringShip.list.empty}]]</div>
            <div th:if="${!enteringShips.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{enteringShip.enteringSeqId.label}]]</th>
                            <th scope="col">[[#{enteringShip.shipSeqId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="enteringShip : ${enteringShips}">
                            <td>[[${enteringShip.enteringSeqId}]]</td>
                            <td>[[${enteringShip.shipSeqId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/enteringShips/edit/{enteringSeqId}(enteringSeqId=${enteringShip.enteringSeqId})}" class="btn btn-sm btn-secondary">[[#{enteringShip.list.edit}]]</a>
                                    <form th:action="@{/enteringShips/delete/{enteringSeqId}(enteringSeqId=${enteringShip.enteringSeqId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{enteringShip.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
